<%= render :partial => 'admin/shared/article_tabs', :locals => {:current => "Images"} %>

<% if @article_image.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @article_image %>
<% end %>

<%= form_for([:admin, @article.id, @article_image], :url => admin_article_image_url(@article, @article_image), :html => { :multipart => true }) do |f| %>
  <p>
    <%= label_tag ("thumbnail") %>:<br/>
    <%= link_to(image_tag(@article_image.attachment.url(:mini)), @article_image.attachment.url(:product)) %>
  </p>
  <%= render "form", :form => f %>
  <p class="form-buttons">
    <%= button t("update") %>
    or <%= link_to t("cancel"), admin_article_images_url(@article), :id => "cancel_link" %>
  </p>
<% end %>