<%= render :partial => 'admin/shared/contents_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to "New Article", new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1>Listing Articles</h1>


<table class="index">
  <thead>
	<tr>
    	<th><%= sort_link @search, :title, t("article.title") %></th>
    	<th><%= sort_link @search, :posted_at, t("article.posted_at") %></th>
    	<th><%= sort_link @search, :live, t("article.live") %></th>
    	<th><%= t("action") %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |article| %>
    <tr id="<%= dom_id article %>">
      <td><%=link_to article.title, object_url(post) %></td>
      <td><%=link_to article.posted_at.strftime('%x %X'), object_url(post) %></td>
      <td><%= article.live %></td>
      <td>
      	<%= link_to_edit article %> &nbsp;
      	<%= link_to_delete article %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") %>

<% content_for :sidebar do %>
<div class="box">
  <h3><%= t(:search) %></h3>

  <% @article = Article.metasearch %>
  <%= form_for [:admin, @article] do |f| %>
    <%- locals = {:f => f} %>
    <%= hook :admin_articles_index_search, locals do %>
      <p>
        <label><%= t 'article.title' %></label><br />
        <%= f.text_field :title_like, :size => 25 %>
      </p>      
      <label><%= t("date_range") %></label><br />
      <div class="yui-g date-range-filter">
        <div class="yui-u sub-field first">
          <%= f.spree_date_picker :posted_at_greater_than %><br />
          <label class="sub"><%= t("start") %></label>
        </div>
        <div class="yui-u sub-field">
          <%= f.spree_date_picker :posted_at_less_than %><br />
          <label><%= t("stop") %></label>
        </div>
        <br class="clear"/>
      </div>
    <% end %>
    <%= hook :admin_articles_index_search_buttons, locals do %>
      <p><%= button t("search") %></p>
    <% end %>
  <% end %>
</div>
<% end %>