<div class="post-sidebar">

  <h3><%= t('.recent_articles') %></h3>  
  <%= render 'archive', :articles => @archive_articles %>
  
  <p class="more"><%= link_to t('.view_archive'), archive_articles_path %></p>
  
  <div class="tag-cloud">
    <h3><%= t('.tags') %></h3>
    <ul class="tags">
      <% tag_cloud @tags, %w(neat cool rad awesome) do |tag, css_class| %>
        <li><%= link_to tag.name, search_articles_path(tag.name), :class => css_class %></li>
      <% end %>
    </ul>
  </div>
  
</div>