<%= render :partial => 'admin/shared/contents_sub_menu' %>

<h1><%= (t(".editing_article") + " &ldquo;#{@article.title}&rdquo;").html_safe %></h1>

<% content_for :sidebar do %>

  <h3 class="name"><%= @article.title %><span class='sku'><%= (@article.posted_at || Time.now).strftime('%x') %></span></h3>
  <br clear="clear" />

  <ul class="sidebar article-menu">
    <%= hook :admin_article_tabs, {:current => current} do %>
      <li<%= ' class="active"'.html_safe if current == "Article Details" %>>
        <%= link_to t(".article_details"), edit_admin_article_url(@article) %>
      </li>      
      <li<%= ' class="active"'.html_safe if current == "Images" %>>
        <%= link_to t("images"), admin_article_images_url(@article) %>
      </li>     
      <li<%= ' class="active"'.html_safe if current == "Related Products" %>>
        <%= link_to t(".related_products"), admin_article_products_url(@article) %>
      </li>    
    <% end %>
  </ul>
  <br clear="clear" />

<% end %>
